@page
@functions
{
    static string getRetried(DeerModel deer)
    {
        return deer.Retired ? "Retired" : "Working";
    }

    public void OnGetChange(int id, List<DeerModel> all)
    {
        Console.WriteLine("in selector function");
        @foreach (var item in all)
        {
            if (item.DeerNr == id) item.Shown = true;
            else item.Shown = false;
        }
    }

}

@*<form asp-on-page-handler="Get" method="get">
    <selector name="id"
    @foreach (var item in ViewBag.DeerNames)
    {
        <option value="@item.DeerNr">
            @item.DeerName
        </option>
    }
    <input type="hidden" value="ViewBag.DeerNames"/>
    <input type="submit" value=" Show Deer Info" />
</form>*@

<table border="1" cellpadding="2" cellspacing="2">

    <tr border="1" cellpadding="2" cellspacing="2">
        <th> Deer Number </th>
        <th> Deer Name </th>
        <th> Deer Group </th>
        <th> Deer Smell </th>
        <th> Status </th>
    </tr>

    @foreach (var item in ViewBag.DeerNames)
    {
        @*@if (item.Shown)
        {
        *@    <tr border="1" cellpadding="2" cellspacing="2">

                <td> @item.DeerNr </td>
                <td> @item.DeerName </td>
                <td> @item.DeerGroup </td>
                <td> @item.Smell</td>
                <td> @getRetried(item) </td>

                @if (!item.Retired)
                {
                    <td>
                        <a class="btn" asp-controller="Deer" asp-action="RetireWorkingDeer"
               asp-route-deer="@item.DeerNr"> Retire this deer </a>
                    </td>
                }

            </tr>
        @*}*@
    }

</table>